.myskills {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: blue;
}

.skill {
    background-color: red;
}

.symbol {
    background-color: black;
    height: 100px;
    width: 100px;
}

.skills-header {
    font-family: "Roboto Mono", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #e60080;
}

.card {
    border: 0;
}

.about-linkedin {
    font-family: "Roboto Mono", monospace;
    font-size: 0.9em;
    color: #00e693;
}

.about-linkedin:hover {
    text-decoration: underline;
    cursor: pointer;
}