.introimage {
    width: 100%;
    margin-top: 10px;
}

.title {
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

.case-study-header {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5em;
    color: #e60080;
}

.case-study-header2 {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    color: #e60080;
}

.center {
    text-align: center;
}

ul li {
    font-family: "Helvetica", sans-serif; 
}

.highlight {
    font-style: oblique; 
    color: #2680ff;
}

.col-lg-3 {
    margin-left: 0;
    padding-left: 0;
}

.case-study-image-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 25%; 
    margin-top: 2%; 
    align-items: center;
    overflow-y: hidden;
    background-color: red;
}

.case-study-image {
    width: 100%; 
    height: 100%;
    margin-bottom: 30px;
}

.case-study-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: contain;
}

.case-study-caption {
    font-style: oblique;
    text-align: center;
    margin-bottom: 2%;
}

.case-study-link {
    font-family: "Roboto Mono", monospace;
    font-size: 0.9em;
    color: #00e693;
}

.case-study-link:hover {
    text-decoration: underline;
    cursor: pointer;
}