#hello {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 2%;
    margin-top: 70px;
}

#intro {
    font-family: "Helvetica", sans-serif;
    font-size: 30px;
    margin-bottom: 2%;
}

#intro2 {
    font-family: "Helvetica", sans-serif;
    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 4%;
}

.slider-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.arrow-left {
    width: 40px;
    height: 40px;
    background-image: url("../images/left-arrow.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 50px;
}

.arrow-left:hover {
    background-image: url("../images/left-arrow-hover.png");
    cursor: pointer;
}

.arrow-right {
    width: 40px;
    height: 40px;
    background-image: url("../images/right-arrow.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 50px;
}

.arrow-right:hover {
    background-image: url("../images/right-arrow-hover.png");
    cursor: pointer;
}

.slider-card {
    /*display: grid;
    grid-template-areas: 8fr 4fr;*/
    width: 400px;
    height: 300px;
}

.card-image-container {
    background-color: black;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.card-image {
    background-image: none;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#card-text {
    font-family: "Helvetica", sans-serif;
    font-weight: bold; 
    color: #e60080;
    text-align: center;
    align-items: center;
    height: 30px;
    padding-top: 15px;
}