.child {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    margin-bottom: 5%;
    background-color: red;
}

.symbol {
    background-color: black;
    height: 100px;
    width: 100px;
}

.skills-header {
    font-family: "Roboto Mono", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #e60080;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .child {
        grid-template-columns: 100%;
        grid-template-rows: 6fr 6fr;
    }
}